.row {
  text-align: center;
}

.row:hover {
  background: rgba(63, 63, 63, 1);
}

.data {
  padding: 0.25rem;
  border-radius: 0.125rem;
}

.link {
  color: rgba(255, 255, 255, 1);
}

.action {
  margin: 0 0.25rem;
}
