.detail {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.body {
  margin: 0 15% 4rem 15%;
  white-space: pre-wrap;
}

.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
  text-align: left;
  z-index: 1;
}

.link {
  color: rgba(255, 255, 255, 1);
}
